body {
	background-color: azure;
	background-image: url("img/hour-glass-640.jpg");
}

#main {
  margin-top: 6em;
  background-color: azure;
  width: 50%;
  margin: auto;
  margin-top: 50px;
}

#content {
  margin-top: 1em;
  /*background-image: url("img/hour-glass-640.jpg");*/
  background-color: azure;
  
}

.header-wrapper {
	background-color: fff;
	width: 33%;
	padding: 20px;
	padding-top: 10px;
	margin: auto;
}

